* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
  color: white;
  font family; Helvetica, Arial, sans-serif;
  }

  header {
    padding: 20px 35px;
    background-color: rgb(121, 121, 255);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

header h1 { 
font-weight: bold;
margin: 0;
font-size: 45px;
 color: #3f3f3f;
        
}

header a {
text-decoration: none;
color: #3f3f3f;
}
            
 header nav{
 margin: 12px 0; 
}
            
header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}
            
 header nav ul li a {
margin: 0 30px;
font-weight: lighter;
font-size: 3.0vw;
}
            
header nav ul li a:hover {
background-color: #99b0b9;
color: #024e76
border-radius: 15px;
text-shadow: none;
}

             
.home {
 background-color: rgb(121, 121, 255);
 background-size: cover;
background-position:center;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 3.5%;
border-radius: 15px;
box-shadow: 0px 4px 8px rgb(100, 100, 100);
border: 2px solid #99b0b9;
 }

 .home-cta {
 width: 35%;
 text-align: center;
 margin: 3.5%;
 color: #fff;
 font-size: 18px;
 line-height: 1.3;
}

.about {
    background-color: rgb(121, 121, 255);
    background-size: cover;
   background-position:center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 5.5%;
   border-radius: 5px;
   box-shadow: 0px 4px 8px rgb(100, 100, 100);
   border: 2px solid #99b0b9;
    }
   
.about-text {
width: 90%;
text-align: left;
margin: 1.5%;
line-height: 1.3;
}

.skills-text{
    margin: 5px; 
}

.skillsmatrix{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.skillsmatrix li{
    background-color: rgb(121, 121, 255);
    padding: 2px;
    border-radius: 19px;
    box-shadow: 0px 4px 8px rgb(100, 100, 100);
    border: 2px solid #99b0b9;
    margin: 0;
}

.skillsbox {
    text-align:center;
    font-size: 25px;
}

.projects {
    padding: 20px 35px;
    background-color: rgb(121, 121, 255);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgb(100, 100, 100);
    border: 2px solid #99b0b9;
}

.projects h2{
    text-align:center
}

.contact {
    background-color: rgb(121, 121, 255);
    background-size: cover;
   background-position:center;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 5.5%;
   border-radius: 5px;
   box-shadow: 0px 4px 8px rgb(100, 100, 100);
   border: 2px solid #99b0b9;
    }

    .contact-text{
    width: 90%;
    text-align: left;
    margin: 1.5%;
    line-height: 1.3;
    }